git+https://github.com/Unicam-mG/mG.git
numpy
scipy
spektral
tensorflow
tensorflow-gpu
gudhi
networkx
pymodelchecking
regex
snakes
git+https://github.com/moves-rwth/pycarl.git
git+https://github.com/moves-rwth/stormpy.git@1.7.0
